body {
	font-size: 16px;
	background-color: #f9f5ec;
	font-family: Arial, sans-serif;
}
a:link {
	color: gray;
}
header {
	font-size: 72px;
	text-shadow: 1px 2px 2px rgba(10, 10, 10, 0.1);
	font-family: 'Reenie Beanie';
	display: block;
}
section {
	display:block;
}
#container {
	margin: 0 auto 50px;
	padding: 0 10px;
	width: 600px;
}
#main {
	-moz-box-shadow: 0 0 5px #91BDD9;
	-webkit-box-shadow: 0 0 5px #91BDD9;
	box-shadow: 0 0 5px #91BDD9;
	border: 1px solid #91BDD9;
}
#addNewLink, #trashBin {
	background-color: #D0C8B9;
	height: 25px;
	overflow:hidden;
	z-index: 5;
	border: 1px solid #CCC;
	margin: 5px;
	padding: 5px 10px;
	border: 1px solid #aaa;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#addNewLink:hover, #trashBin:hover {
	background-color: #F0E3CF;
}
#trashBin {
	position: fixed;
	width: 577px;
	bottom: 0;
	margin: 0;
}
#trashList {
	overflow:auto;
	height: 150px;
	font-size: 12px;
	text-shadow: none;
}
.top {
	font-size: 28px;
	text-align: right;
	border-bottom: 1px solid #91BDD9;
	cursor: pointer;
}
#linkList section, #trashBin section {
	border-bottom: 1px dashed silver;
	display: block;
}
#linkList section:last-child {
	border: none;
}
#linkList .note {
	font-family: arial, serif;
	padding-left: 10px;
}
.btn {
	float:right;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 3px;
	margin: -35px 2px 2px 2px;
	width: 40px;
	cursor: pointer;
	color:#EEE;
}
.btn:hover {
	color: #FFF;
}
.delete {
	display: none;
	color:#CCC;
	background-color:#b20000;
	background-image:linear-gradient(top, #c00000, #9c0000);
	background-image:-moz-linear-gradient(top, #c00000, #9c0000);
	background-image:-webkit-gradient(linear,left top, left bottom,from(#c00000),to(#9c0000));
}
.add {
	background-color:#b20000;
	background-image:linear-gradient(top, #00b51b, #0e6600);
	background-image:-moz-linear-gradient(top, #00b51b, #0e6600);
	background-image:-webkit-gradient(linear,left top, left bottom,from(#00b51b),to(#0e6600));
}
#linkList section:hover .delete {
	display: block;
}
.add {
	-webkit-gradient(linear, 0% 0%, 0% 100%, from(#118f3f), to(#2cbd61));
	gradient(linear, 0% 0%, 0% 100%, from(#118f3f), to(#2cbd61));
}

.note {
	margin:10px 50px 10px 5px;
}
#addNewLink .note {
	height: 100px;
	overflow: auto;
}
.label {
	color: #888;
}
[contenteditable] {
	outline: 1px dotted #aaa;
	padding: 5px;
}
[contenteditable]:focus {
	background-color: #FFF;
}
[contenteditable]:hover {
	outline: 1px dotted #ccc;
	background-color: #FFF;
}

footer {
	font-size: 16px;
	position: fixed;
	left: 5px;
	bottom: -15px;
	font-family: 'Reenie Beanie';
}