body {
	font-size: 16px;
	background-color: #F2EFE9;
	text-shadow: 0px 0px 2px rgba(10, 10, 10, 0.1);
}
a:link {
	color: gray;
}
header {
	font-size: 72px;
	text-shadow: 1px 2px 2px rgba(10, 10, 10, 0.1);
	font-family: 'Reenie Beanie', arial, serif;
	display: block;
}
section {
	display:block;
}
#container {
	margin: 0 auto 50px;
	padding: 0 10px;
	width: 600px;
}
#main {
	-moz-box-shadow: 0 0 5px #91BDD9;
	-webkit-box-shadow: 0 0 5px #91BDD9;
	box-shadow: 0 0 5px #91BDD9;
	border: 1px solid #91BDD9;
}
#addNewLink, #trashBin {
	background-color: #D0C8B9;
	height: 20px;
	overflow:hidden;
	z-index: 5;
	border: 1px solid #CCC;
	margin: 5px;
	padding: 5px 10px;
	border: 1px solid #aaa;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#addNewLink:hover, #trashBin:hover {
	background-color: #F0E3CF;
}
#trashBin {
	position: fixed;
	width: 577px;
	bottom: 0;
	margin: 0;
}
#trashList {
	overflow:auto;
	height: 150px;
}
.top {
	font-size: 28px;
	text-align: right;
	border-bottom: 1px solid #91BDD9;
	cursor: pointer;
}
#linkList section, #trashBin section {
	border-bottom: 1px dashed silver;
	display: block;
}
#linkList section:first-child {
	border-top: none;
}
#linkList .note:first-letter {
	font-size: 34px;
	font-family: 'Reenie Beanie', arial, serif;
}
.btn {
	float:right;
	border: 1px solid #aaa;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 5px;
	padding: 3px;
	margin: -35px 2px 2px 2px;
	width: 40px;
}
.delete {
	background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.31, rgb(217, 43, 43)), color-stop(0.66, rgb(250, 0, 71)));
	display: none;
}
.add {
	background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.31, rgb(43, 217, 78)), color-stop(0.66, rgb(0, 250, 58)));
}
#linkList section:hover .delete {
	display: block;
}
.add {
	-webkit-gradient(linear, 0% 0%, 0% 100%, from(#118f3f), to(#2cbd61));
	gradient(linear, 0% 0%, 0% 100%, from(#118f3f), to(#2cbd61));
}
:first-child

.note {
	margin:10px 50px 10px 5px;

}
#addNewLink .note {
	height: 100px;
	overflow: auto;
}
.label {
	color: #888;
}
[contenteditable] {
  outline: 1px dotted #aaa;
}
[contenteditable]:hover {
  outline: 1px dotted #ccc;
}

footer {
	font-size: 16px;
	position: fixed;
	left: 5px;
	bottom: -15px;
	font-family: 'Reenie Beanie', arial, serif;
}