/* 
Colorset:
#D92938
#731D20
#E5B95A
#BC7F2C
#F2F2F2
*/

body {
	background-color: #BC7F2C;
	font-family: 'Crimson Text', arial, serif;
	font-size: 16px;
}
#container {
	margin: 0 auto;
	width: 600px;
	height: 600px;
	position: relative;
}

header {
	font-family: 'IM Fell English SC', arial, serif;
	font-size: 72px;
}
section {
	display: block;
}
#linkList {
	/*
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	*/
	border: 1px solid #E5B95A;
	margin-top: 50px;
}
#addNewLink {
	background-color: red;
	height: 25px;
	position: absolute;
	width: 100%;
	display: block;
	overflow:hidden;
	z-index: 5;
}
#addNewLink header {
	font-size: 20px;
	text-align: center;
}

#linkList section {
	border-top: 1px solid red;
	display: block;
}
#linkList section:first-child {
	border-top: none;
}
#linkList .note {
	display: none;
}

footer {
	
}

#hidden .btnDelete {
	display: none;
}

/*
#addNewLink {
	height: 25px;
	left: 0;
}

#trashBin {
	right: 0;
}
*/

.link {
	margin: 10px;
	width: 80%;
}

.link.note {
	height: 100px;
}
[contenteditable] {
  outline: 1px dotted #aaa;
}
[contenteditable]:hover {
  outline: 1px dotted #ccc;
}